.prof-box {
	width: 400px;
	height: 485px;	
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color:	white;
	margin: 0 auto;
	margin-top: 110px;
	text-align: center;
	font-family: 'Helvetica Neue', sans-serif;
}

.box-img {
	border-radius:  50%;
	height: 200px;
	width:  200px;
}

body {
	background: url(../img/theme2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
	font-weight: 100;
	letter-spacing: 1;
	font-size: 25;

}
p{
	font-weight: 150;
	letter-spacing: 1;
}

.line-break{
	width: 410px;
	margin: 0 auto;
	border-top: 1px solid white;
}

.social-icon{
	font-size: 40px;
	letter-spacing: 10;
}

.social-icon a{
	color: white;
}

.nav {
	width: 350px;
	height: auto;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 14%;
	right: 320;

}
.nav a {
	color: white;
}
a .active, .nav a: hover { 
	background-color: gray;
	color: white;
	width: 100%
}


.prof-box2 {
	width: 400px;
	height: 750px;	
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color:	white;
	margin: 0 auto;
	margin-top: 110px;
	text-align: center;
	font-family: sans-serif;
}

.box-img2 {
	border-radius:  50%;
	height: 200px;
	width:  200px;
}

.nav2 {
	width: 350px;
	height: auto;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 14%;
	right: 320;
}
	

.nav2 a{
	color: white;
}

 .active, .nav2 a: hover { 
	background-color: gray;
	color: white;
	width: 100%
}



.prof-box3 {
	width: 400px;
	height: 600px;	
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color:	white;
	margin: 0 auto;
	margin-top: 110px;
	text-align: center;
	font-family: 'Helvetica Neue', sans-serif;
}

.box-img3 {
	border-radius:  50%;
	height: 200px;
	width:  200px;
}


.nav3 {
	width: 350px;
	height: auto;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 14%;
	right: 320;
}

.nav3 a{
	color: white;
}

 .active, .nav3 a: hover { 
	background-color: gray;
	color: white;
	width: 100%
}
